#!/bin/bash

# Install necessary dependencies
yum update -y
yum install -y httpd

# Start apache
systemctl start httpd
systemctl enable httpd

# Chane permission
usermod -a -G apache ec2-user
chown -R ec2-user:apache /var/www
chmod 2775 /var/www
find /var/www -type d -exec chmod 2775 {} \;
find /var/www -type f -exec chmod 0664 {} \;

# Create Index with dynamic content
echo "<h1>Terraform web-${server_number}</h1>" > /var/www/html/index.html